body{
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  background: url("bg-desktop.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: hsl(257, 40%, 49%);
  color: white;
  padding: 60px;
}

h1 {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 50px;
}

p{
  font-size: 23px;
}

.main {
  margin-right: 60px;
}

.mockups {
  float: left;
  padding: 40px 70px 40px 40px;
  height: 620px;
}

.button {
  text-decoration: none;
  border: 1px;
  border-radius: 50px;
  box-shadow: 3px 3px 8px #301934;
  padding: 15px 50px;
  background-color: white;
  color: hsl(257, 40%, 49%);
  position: relative;
  top: 20px;
  font-weight: 400;
}

.fa {
  border: 1px;
  border-color: white;
  color: white;
  text-align: center;
  border-radius: 50%;
  border-style: solid;
  margin: 10px;
  padding: 15px;
  float: right;
  text-decoration: none;
  margin-top: 300px;
}

.attribution {
  font-size: 10px;
  position: relative;
  top: 330px;
  right: 1000px;
}
